<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>http://ec2-18-197-100-203.eu-central-1.compute.amazonaws.com:8080</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
        </dict>
    </dict>
    
<!--    <key>NSAppTransportSecurity</key>-->
<!--       <dict>-->
<!--           <key>NSAllowsArbitraryLoads</key>-->
<!--           <true/>-->
<!--           <key>NSExceptionDomains</key>-->
<!--           <dict>-->
<!--               <key>http://ec2-18-197-100-203.eu-central-1.compute.amazonaws.com:8080</key>-->
<!--               <dict>-->
<!--                   <key>NSExceptionAllowsInsecureHTTPLoads</key>-->
<!--                   <true/>-->
<!--                   <key>NSIncludesSubdomains</key>-->
<!--                   <true/>-->
<!--               </dict>-->
<!--           </dict>-->
<!--       </dict>-->
    
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>In order for your application to work correctly, you need to turn on your location information. Please confirm location permission.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>In order for your application to work correctly, you need to turn on your location information. Please confirm location permission.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>In order for your application to work correctly, you need to turn on your location information. Please confirm location permission.</string>
</dict>
</plist>
